<!DOCTYPE html>
<html>
<head>
	<meta name="google-site-verification" content="fI2tVja-PsCECQwSec6i8J7vIlMqcMctQlX1sIZRVRI" />
  <title>how's charlie?</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= csrf_meta_tag %>
	
	<%= content_for :head %>
</head>
<body>

<div id="wrapper">
		<a href="/site/index">
			<div id="header" style="text-align: center">
				<div id="image"><%= image_tag 'title-image.png'%></div>
				<div id="title"><%= image_tag 'title.png' %></div>
				<div style="clear: both;"></div>	
			</div>
		</a>
		<div id="search-bar">
			<%= form_tag("/site/search") %>
			<% if action_name != "search"%>
				<%= text_field_tag "query", nil, :size => "100", :id => "query-textbox", :placeholder => "Type your search here (e.g. Charlie Sheen)"%>
			<% else %>
				<%= text_field_tag "query", nil, :size => "100", :id => "query-textbox"%>
			<% end %>
			<%= submit_tag "Search", :id => "search_button" %>
		</div>
		
	<div id="content">
		<%= yield %>
	</div>
	<div id="footer">
		<div style="float: left; color: blue; margin-right: 30px">
			<%= link_to "home", :action => "index" %> | 
			<%= link_to "about", :action => "about" %> |
			<%= link_to "careers", :action => "careers" %>
		</div>
		<div style="float: left;">&copy; foundry (scott woody + thaisan tonthat)</div>
		<div style="clear: both;">
			
			<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-24173891-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

			</script>
	</div>
</div>
</body>
</html>
